<div class="login-status-header">

    <button *ngIf="isAuthenticated && username" class="text-succes">
        <span>Welcome back {{ username }}! [{{role}}] </span>
    </button>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-outline-light my-2 my-sm-0">Login</button>

    <button *ngIf="isAuthenticated && role =='ROLE_ADMIN'" routerLink="/admin"
        class="btn btn-outline-light my-2 my-sm-0">Admin</button>

    <button *ngIf="isAuthenticated" (click)="onLogout()" class="btn btn-outline-light my-2 my-sm-0">Logout</button>

</div>