<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li *ngFor="let tempCategory of categories">

                <a routerLink="/categories/{{ tempCategory.id }}" routerLinkActive="active-link">
                    {{ tempCategory.categoryName }}
                </a>

            </li>

        </ul>
    </nav>
</div>