<div class="cart-area d-n">
    <a routerLink="/cart-details">
        <div class="total">{{totalPrice | currency: 'Lei '}} <span>{{totalQuantity}}</span></div><i
            class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
</div>