<div class="page-wrapper">

    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a routerLink="/products">
                <img src="assets/images/logo.png" alt="onlineshop" class="img-responsive">
            </a>
        </div>
        <app-category></app-category>
    </aside>

    <div class="page-container">
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">

                        <button class="btn btn-outline-light my-2 my-sm-0" routerLink="products"
                            routerLinkActive="active">Products</button>

                        <app-search></app-search>

                        <app-login-status></app-login-status>

                        <app-cart-status></app-cart-status>

                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>

        <router-outlet></router-outlet>

    </div>
</div>

<footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer>