<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="mainbox col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-2">

                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <div class="panel-title mb-4">Edit Product</div>
                        </div>

                        <div [formGroup]="productForm">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" formControlName="description" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Image :</label>
                                <input type="text" formControlName="imageUrl" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Name :</label>
                                <input type="text" formControlName="name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Price :</label>
                                <input type="number" formControlName="unitPrice" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Category :</label>
                                <input type="number" formControlName="categoryId" class="form-control" />
                            </div>

                        </div>

                        <button routerLink="/admin" routerLinkActive="active" class="btn btn-primary btn-sm mb-4"
                            (click)="update()">Save</button>

                    </div>

                    <div>
                        <button routerLink="/" type="button" class="btn btn-secondary btn-sm mb-4">Back</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>