<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="mainbox col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-2">

                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                        </div>

                        <div style="padding-top: 30px" class="panel-body">
                            <div class="alert alert-danger" *ngIf="error">
                                <p>{{error}}</p>
                            </div>

                            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" class="form-control" ngModel name="username"
                                        required minlength="3" maxlength="20">
                                </div>


                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" class="form-control" ngModel name="password"
                                        required minlength="6" maxlength="40">
                                </div>

                                <div>
                                    <button class="btn btn-primary btn-sm mb-4" type="submit"
                                        [disabled]="!authForm.valid">
                                        Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <button routerLink="/login" type="button" class="btn btn-secondary btn-sm mb-4">Back</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>