<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" alt="">
                        </a>

                        <h1>{{ tempProduct.name }}</h1>

                        <div class="price">{{ tempProduct.unitPrice | currency:'Lei' }}</div>

                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>

                </div>

                <div *ngIf="products?.length== 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>
            </div>
        </div>
    </div>
</div>