<div class="form-header">

    <input #myInput type="text" placeholder="Search for products ..." class="au-input au-input-xl"
        (keyup.enter)="doSearch(myInput.value)">

    <button (click)="doSearch(myInput.value)" class="btn btn-outline-light my-2 my-sm-0">
        Search
    </button>

</div>