<div class="main-content">
    <table class="table table-striped">


        <thead class="thead-dark">
            <button class="btn btn-primary btn-sm mb-4" routerLink="/register" routerLinkActive="active">Add
                User</button>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Role</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tempUser of users">

                <td class="align-middle">{{ tempUser.id}}</td>
                <td class="align-middle">{{ tempUser.username}}</td>
                <td class="align-middle">{{ tempUser.roles[0].name}}</td>

                <td>

                    <button class="btn btn-secondary" routerLink="/admin/{{tempUser.id}}"
                        routerLinkActive="active">Update</button>
                    <button class="btn btn-danger" (click)="deleteUser(tempUser)"
                        routerLinkActive="active">Delete</button>
                </td>
            </tr>



        </tbody>
    </table>

    <table class="table table-striped">


        <thead class="thead-dark">
            <button class="btn btn-primary btn-sm mb-4" routerLink="/products/add" routerLinkActive="active">Add
                Product</button>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CategoryId</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tempProduct of products">

                <td class="align-middle">{{ tempProduct.id}}</td>
                <td class="align-middle">{{ tempProduct.name}}</td>
                <td class="align-middle">{{ tempProduct.category.categoryName}}</td>

                <td>
                    <button class="btn btn-secondary" routerLink="/admin/prod/{{tempProduct.id}}"
                        routerLinkActive="active">Update</button>
                    <button class="btn btn-danger" (click)="deleteOneProduct(tempProduct)"
                        routerLinkActive="active">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>