<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="mainbox col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-2">

                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <div class="panel-title mb-4">Edit User</div>
                        </div>

                        <div [formGroup]="userForm">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" formControlName="username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password :</label>
                                <input type="text" formControlName="password" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Roles :</label>
                                <input type="text" formControlName="roles" class="form-control" />
                            </div>

                        </div>

                        <button routerLink="/admin" routerLinkActive="active" class="btn btn-primary btn-sm mb-4"
                            [disabled]="userForm.invalid" (click)="update()">Save</button>

                    </div>

                    <div>
                        <button routerLink="/" type="button" class="btn btn-secondary btn-sm mb-4">Back</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>